<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target 
      xsi:type="File"
      name="logFile"
      fileName="${basedir}\Logs\MainLog.log"
      layout="${longdate}|${level}|${callsite:cleanNamesOfAnonymousDelegates=True}|${message} ${exception:format=message} ${exception:format=StackTrace}"
      archiveFileName="${basedir}/archives/log.{####}.txt"
      archiveAboveSize="10485760"
      archiveNumbering="Rolling"
      maxArchiveFiles="20"
    />
    <target 
      xsi:type="ColoredConsole"
      name="console" 
      layout="${longdate}|${level}|${callsite}|${message} ${exception:format=message} ${exception:format=StackTrace}"
    />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="logFile" />
  </rules>
</nlog>